---
layout: page
title: Tools
description: Having a massive list of every element of a theme is useful for quick referencing and ideas. Here is every component of Massively!
sitemap:
    priority: 0.7
    lastmod: 2017-11-02
    changefreq: weekly
---
<header class="major">
	<h1> Gallery </h1>
</header>

{% for image in site.static_files %}
    {% if image.path contains 'images' %}
        <img class="7u" style="width: 100%" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %}
